<link rel="stylesheet" href="/styles/userlogin.css">

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" id="login-form">
                <input type="text" id="login-username" placeholder="username"  />
                <input type="password" id="login-password" placeholder="password"   />
                <button type="submit">Login</button>
                <p class="message">Not registered? <a href="http://localhost:8080/user/register">Create an account</a></p>
            </form>
        </div>
    </div>
</body>